/*:root {*/
/*  --lightBg: #eff3e7;*/
/*  --text: black;*/
/*  --softBg: #f0f0f0;*/
/*  --softText: #626262;*/
/*  --transition-speed: 400ms;*/
/*}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #202e33;
  --text: #fff;
  --softBg: #3a555e;
  --softText: #a6a6a6;
  --attention: olive;
}

.light {
  --bg: #eff3e7;
  --text: black;
  --softBg: #e0ebca;
  --softText: #626262;
  --transition-speed: 400ms;
  --attention: darkred;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.wrapper {
  max-width: 1536px;
  margin-inline: auto;
  padding: 0 5rem;
}

@media (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding: 0 2.5rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}
