.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleInput {
  border: none;
  font-size: 3.5rem;
  font-weight: 700;
  background-color: transparent;
  outline: none;
  color: var(--text);
}

.titleInput::placeholder {
  font-style: italic;
  color: #b3b3b1;
  font-weight: 500;
}

.editor {
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: relative;
  height: 700px;
}

.textarea {
  width: 100%;
  padding: 1.75rem;
}

.editorButtons {
  display: flex;
  gap: 1rem;
  position: absolute;
  left: 0px;
  top: -10px;

  z-index: 1;
}

.button {
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #d1f172;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.button:first-child {
  border-color: var(--text);
}

.button:not(:first-child) {
  color: var(--softBg);
}

.publishButton {
  position: absolute;
  right: 0px;
  top: -10px;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 40px;
  background-color: #d1f172;
  color: #111;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.publishButton:hover {
  transform: translateY(-0.5rem);
}
